<!DOCTYPE html>

{% if request.LANGUAGE_CODE == "ar" %}
    <html lang="{{request.LANGUAGE_CODE}}" dir="rtl">
{% else %}
    <html lang="{{request.LANGUAGE_CODE}}">
{% endif %}

<head>
    {% load static %}  <!-- Load static files like CSS, JS, images -->
    {% load widget_tweaks %}  <!-- Load widget tweaks for customizing form widgets -->
    {% load admin_custom_tags %}
    {% load i18n %}

    <script src="{% static 'admin_base/js/cache.js' %}"></script>

    <!-- Favicon -->
    {% favicon_exist "static/admin_base/img/"|stringformat:"s"|add:"favicon.png" as favicon %}
    {% if favicon %}
    <link rel="icon" type="image/x-icon" href="{% static 'admin_base/img/favicon.png' %}">
    {% else %}
    <link rel="icon" type="image/x-icon" href="{% static 'admin_base/img/deafult_favicon.png' %}">
    {% endif %}

    <!-- Common CSS & JavaScript -->
    <link rel="stylesheet" href="{% static 'admin_base/css/style.css' %}">  <!-- Main stylesheet -->

    <!-- Libraries -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />


    {% if request.LANGUAGE_CODE == "ar" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous"> <!-- Bootstrap CSS (RTL support) -->
        
    <link rel="stylesheet" href="{% static 'admin_base/css/rtl_support.css' %}">
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">  <!-- Bootstrap Icons -->

    <!-- Page Head Settings -->
    {% block website_head %}
    {% endblock website_head %}
    <!-- Block for additional head content -->
</head>

<body>

    <div class="desktop_backend">
        {% if user.is_authenticated %}
        <!-- If the user is authenticated, show the backend structure -->

        {% if request.LANGUAGE_CODE == "ar" or request.LANGUAGE_CODE == "fa" or request.LANGUAGE_CODE == "he" %}
            <div class="backend_sidebar rtl">
        {% else %}
            <div class="backend_sidebar">
        {% endif %}
        
            <!-- Left sidebar for backend -->
            <div class="profile_display">
                <!-- User profile display -->

                {% with file_path="static/admin_base/img/"|stringformat:"s"|add:user.get_username|stringformat:"s"|add:"_pfp.jpg" %}
                    {% pfp_exist file_path as pfp %}

                    <div class="image">
                        {% if pfp %}
                        <img src="{% static 'admin_base/img/' %}{{user.get_username|stringformat:'s'|add:'_pfp.jpg'}}">
                        {% else %}
                        <img src="{% static 'admin_base/img/default_pfp.png' %}">
                        {% endif %}
                    </div>

                {% endwith %}

                <div class="text">
                    {% with username=user.get_username|title %}
                        {% with name="Welcome back, "|add:username %}
                            <h1>{% message_translated name %}</h1>  <!-- Greeting message -->
                        {% endwith %}
                    {% endwith %}
                </div>
            </div>
            
            <!-- <div class="page_navigation">
                <ul>

                    <li><a href="/admin/" id="homeButton" class="nav_button">Home</a></li>
                    {% if "cms" in apps %}
                        
                    <div class="mb-3">

                        <button class="btn btn-primary drop_down_button nav_button" type="button" data-bs-toggle="collapse" data-bs-target="#cmsCollapse" aria-expanded="false" aria-controls="cmsCollapse" id="content_toggle_button">
                            Content <div class="icon"><i class="bi bi-chevron-up" id="toggleFieldIconCollapse"></i></div>
                        </button>

                        <div class="collapse" id="cmsCollapse">
                            <ul class="list-group">
                                {% for page in cms.cms_files %}
                                    <li class="list-group-item">
                                        <a href="/admin/content/{{ page }}" class="content-item">{{ page }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </div>

                    {% endif %}
                </ul>
            </div> -->

            <div class="page_navigation basic_look">
                
                {% block navigation_holder %}
                {% endblock navigation_holder %}
                
            </div>

            {% if "seo" in apps %}

                <div class="last_buttons">

                    <div class="settings">
                        <a href="/admin/seo/">
                            <button class="btn"><i class="bi bi-globe"></i><span>{% trans "SEO" %}</span></button>
                        </a>
                    </div>

                    <div class="logout">
                        <!-- Logout form -->
                        <form action="{% url 'admin_base:logout' %}" method="post">
                            {% csrf_token %}  <!-- CSRF token for security -->
                            <button type="submit" class="btn btn-outline-danger">{% trans "Logout" %}</button>
                        </form>
                    </div>

                </div>

            {% else %}

                <div class="last_buttons">

                    <div class="logout">
                        <!-- Logout form -->
                        <form action="{% url 'admin_base:logout' %}" method="post">
                            {% csrf_token %}  <!-- CSRF token for security -->
                            <button type="submit" class="btn btn-outline-danger">{% trans "Logout" %}</button>
                        </form>
                    </div>

                </div>

            {% endif %}

        </div>

        {% if request.LANGUAGE_CODE == "ar" %}
            <div class="backend_main rtl">
        {% else %}
            <div class="backend_main">
        {% endif %}
            
            <!-- Loading screen for updates -->
            <div class="update_loading" id="loading_screen" style="z-index:99999;">
                <div class="spinner">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <h1>{% trans "Saving your updates, hang tight..." %}</h1>
                </div>
            </div>
    
            <!-- Main content area for the backend -->
            {% block website_body %}
            {% endblock website_body %}
            <!-- Block for additional body content -->

            <!-- Toast -->
            <div class="toast-container p-3"

            data-no-edits-header="{% trans 'No edits' %}"
            data-no-edits-body="{% trans 'No changes were detected. Make sure youve updated any content.' %}"

            data-image-uploading-header="{% trans 'Image Uploading' %}"
            data-image-uploading-body="{% trans 'Please wait for the image upload to complete before submitting.' %}"
            
            data-edit-success-header="{% trans 'Edit Successful' %}"
            data-edit-success-body="{% trans 'Your changes have been saved successfully!' %}"
            >
                <div class="toast" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto modal_success_text" id="toast_header_text">{% trans "Edit Successful" %}</strong>
                        <small id="toast_time">{% trans "Just Now" %}</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="toast_body">
                        {% trans "Your changes have been saved successfully!" %}
                    </div>
                </div>
            </div>
            
            <!-- Language selection button, syncronized with available languages -->
            {% include "base/components/language_selection.html" %}
            
        </div>

        {% else %}
        <!-- If the user is not authenticated, show the login form -->
        {% include "base/components/login_view.html" %}

        {% endif %}
    </div>

    <!-- If user is trying to access the backend from mobile show this view -->
    {% include "base/components/mobile_view.html" %}

    <!-- DOM Scripts -->
    <script src="{% static 'admin_base/js/cache.js' %}"></script>
    <script src="{% static 'admin_base/js/backend.js' %}"></script>  <!-- Common JavaScript -->
    

    <!-- Libraries Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script> <!-- Bootstrap JavaScript -->
    
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <!-- Popper.js -->

    {% block additional_dom_scripts %}

    {% endblock additional_dom_scripts %}
</body>

</html>
