<div class="change_language_container">
    <div class="change_language">

        <form method="post" action="{% url 'admin_base:change-language' %}">
            {% csrf_token %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">

                    {% if request.LANGUAGE_CODE == 'en' %}
                    <span class="fi fi-us"></span> English
  {% elif request.LANGUAGE_CODE == 'ar' %}
  <span class="fi fi-sa"></span> العربية
{% else %}
                    Select Language
                    {% endif %}

                </button>

                <ul class="dropdown-menu" aria-labelledby="languageDropdown">

                    <li>
                        <button class="dropdown-item" type="submit" name="language" value="en" {% if request.LANGUAGE_CODE == 'en' %}disabled{% endif %}>
                            <span class="fi fi-us"></span> English
                        </button>
                    </li>

    <li>
        <button class="dropdown-item" type="submit" name="language" value="ar" {% if request.LANGUAGE_CODE == 'ar' %}disabled{% endif %}>
            <span class="fi fi-sa"></span> العربية
        </button>
    </li>
</ul>
            </div>
        </form>
    </div>
</div>